.card-receita {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-receita strong {
    margin: 4px 0px;
    font-size: var(--font-size-md);
}
.card-receita button {
    padding: 10px;
    width: 100px;
    color: #fff;
    background-color: var(--bg-button);
    border: 0;
    cursor: pointer;
}
.card-receita button:hover{
    color: #66ca45;
    transition: 0.4s;
}